<div clas="usuario-page">
    <mat-progress-spinner [hidden]="!loading"></mat-progress-spinner>
    <div *ngIf="!loading" class="usuario-container">
        <span>Por favor selecione sua(s) área(s) de conhecimento para controle e conhecimento da PGE-RJ</span>
        <form [formGroup]="formGroup">
            <mat-form-field *ngFor="let control of formGroup.controls | keyvalue">
                <mat-label>{{ control.key }} | conhecimento</mat-label>
                <mat-checkbox [formControlName]="control.key"></mat-checkbox>
            </mat-form-field>
        </form>
            <mat-form-field>
                <mat-label>Outros</mat-label>
                <input matInput type="text" #outrosInput (keyup.enter)="addConhecimento(outrosInput)" />
                <mat-icon class="icon-add" (click)="addConhecimento(outrosInput)" matSuffix>add</mat-icon>
            </mat-form-field>
        <button mat-button [disabled]="!formGroup.dirty" (click)="salvarInformacoes()">Salvar</button>
    </div>
</div>