.pass-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.block-div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.block-div-top {
  display: flex;
  flex-direction: column;
  width: 100%;
  direction: rtl;
  margin-top: 0px;
  padding: 0px;
  margin: px;
}

form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.save-list-btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
}

.close-btn {
  border-radius: 20px 20px 20px 20px;
  background-color: #40539c;
  color: white;
  border: 0px;
  width: 140px;
  height: 30px;
}

.close-btn:disabled {
  background-color: #f0f2f5;
  color: black;
}

textarea {
  width: 100%;
  resize: vertical;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
  height: 100px;
  margin: 5px;
}

.name-input {
  border-width: thin;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
  width: 100%;
  margin: 5px;
}

.name-label {
  margin: 5px;
}

.check-box-div {
  margin-left: 30px;
  display: flex;
  direction: rtl;
  align-items: center;
}

.date-input-div {
  display: flex;
  margin: 5px;
  align-items: center;
}

.check-box-input {
  margin-right: 5px;
}

.end-time-div {
  margin-left: 20px;
}

.min-margin-right {
  margin-right: 5px;
}
.form-modal {
  margin-bottom: 10px;
}

.card-body-div {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-top: 10px;
}

.custom-file-input {
  color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: "Escolha aqui a imagem do seu evento";
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #ffff, #ffff);
  border: 1px solid #999;
  border-radius: 20px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 400;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}


.on-your-mind {
  background-color: #f0f2f5;
  display: inline-block;
  outline: none;
  border: none;
  padding: 10px 0px 10px 20px;
  border-radius: 20px 0px 0px 20px;
  width: 70%;
}

.on-your-mind-btn {
  border-radius: 0px 20px 20px 0px;
  background-color: #40539c;
  color: white;
  border: 0px;
  width: 30%;
  height: 40px;
}
.on-your-mind-btn:disabled {
  background-color: #f0f2f5;
  color: black;
}

.row-div{
  display: flex;
  flex-direction: column;
}