<mat-card style="width: 100%; padding-left: 10px; padding-top: 20px;">
    <mat-card-header>
        <img alt="user image" mat-card-avatar [src]="responseUser?.profilePicture">
        <mat-card-title>{{responseUser.username}}</mat-card-title>
    </mat-card-header>
    <mat-card-content #scrollMe [style.overflow]="'auto'" [style.height.px]="'480'">
        <div *ngIf="messageList == undefined; else chatMsg">
            <div class="centralizedMsg">
                <h3>Não há ainda nenhuma mensagem a ser exibida.</h3>
            </div>
        </div>
        <ng-template #chatMsg>
            <div *ngFor="let message of messageList">

                <div [ngClass]="message.userId === _userChat.requestId ? 'reqMsg' : 'resMsg'">
                    <div class="msgBox">
                        <p class="msgDate">{{message.userName}}</p>
                        <p class="msg">{{message.content}}</p>
                        <p class="msgDate">{{message.timestamp | timestamp}}</p>
                    </div>
                </div>
            </div>
        </ng-template>
    </mat-card-content>
    <form [formGroup]="formGroup" style="display: flex; flex-direction: row;">
        <input class="on-your-mind" formControlName="message" placeholder="escreva algo" type="text"
            (keyup)="$event.keyCode == 13 && sendMessage()">
        <button class="on-your-mind-btn" [disabled]="formGroup.invalid" (click)="sendMessage()">Enviar</button>
    </form>
</mat-card>