<div>
    <div>
        <h1>{{responseUser.username}}</h1>
        <img src="responseUser.profilePicture" alt="foto do usuario">
    </div>
    <div *ngFor="let message of messageList">
        <div [ngClass]="message.userId === _userChat.requestId ? 'reqMsg' : 'resMsg'">
            <p>{{message.content}}</p>
            <p>{{message.timestamp | timestamp}}</p>
        </div>
        
    </div>
    <form [formGroup]="formGroup">
        <input class="on-your-mind" formControlName="message" placeholder="escreva algo" type="text" (keyup)="$event.keyCode == 13 && sendMessage()">
        <button (click)="sendMessage()">Send Message</button>
    </form>
</div>