<div class="container" id="feedcards">
  <mat-card class="post-message">
    <mat-card-header class="post-message-header" style="padding-bottom: 20px; border-bottom: 1px solid lightgray;">
      <img alt="user image" mat-card-avatar [src]="user?.profilePicture">
      <form [formGroup]="formGroup" (ngSubmit)="savePost()">
        <input class="on-your-mind" formControlName="message" placeholder="Escreva aqui sua publicação" type="text">
        <button class="on-your-mind-btn" [disabled]="formGroup.invalid" type="submit">Publicar</button>
      </form>
    </mat-card-header>
    <mat-card-content class="card-body">
      <div *ngIf="!this.hasImgSaved; else hasImage" class="card-body-div" (click)="uploadImage(fileInput)">
        <span>Inserir imagem</span>
        <input #fileInput type="file" style="display: none;" accept="image/jpeg" (change)="imageSelected($event)">
        <mat-icon color="primary">photo_album</mat-icon>
      </div>
      <ng-template #hasImage>
        <div class="card-body-div">
          <span>{{this.selectedImg.file.name}}</span>
          <mat-icon class="btn-clear" (click)="removeImage()">clear</mat-icon>
        </div>
      </ng-template>
      <div class="card-body-div" (click)="createAnEvent()">
        <span>Criar evento</span>
        <div>
          <mat-icon color="primary">calendar_today</mat-icon>
        </div>
      </div>
      <div class="card-body-div" (click)="addContact()">
        <span>Marcar contatos</span>
        <div>
          <mat-icon color="primary">people</mat-icon>
          <span *ngIf=" usuariosMarcados && usuariosMarcados.length > 0"
            class="user-badge-red">{{usuariosMarcados.length}}</span>
        </div>
      </div>
      <div class="card-body-div">
        <span>Tipo de realização</span>
        <div *ngFor="let labelMode of realizationOptions">
          <input type="radio" name="labelType" value="{{labelMode}}" (change)="setRealization($event)">
          {{labelMode}}
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <hr>
  <mat-card *ngFor="let p of posts" class="posts">
    <mat-card-header class="posts__header">
      <img mat-card-avatar alt="falha" [src]="p.donoPost.profilePicture" (click)="openProfile(p.donoPost)">
      <div class="posts__header__right">
        <div *ngIf="!p.evento">
          <span>{{ p?.dataTratada }} - realização {{p?.tipoPost}}</span>
          <h3>{{ p?.donoPost.username }}</h3>
          <div *ngIf="p?.usuariosMarcados && p?.usuariosMarcados.length > 0" class="marked-users-div">
            <span class="initial-marked-user-word">com</span>
            <div *ngFor="let usuarioMarcado of p?.usuariosMarcados; let last = last; let i = index">
              <span class="marked-users-name-separators" *ngIf="last"> e </span>
              <span class="marked-users-name" (click)="openProfile(usuarioMarcado)">{{usuarioMarcado.username}}</span>
              <span class="marked-users-name-comma" *ngIf="!last && i+2 < p?.usuariosMarcados.length">, </span>
            </div>
          </div>
        </div>
        <div *ngIf="p.evento">
          <div>
            <span>{{ p?.dataTratada }}</span>
            <h3>{{p.evento.nomeEvento}}</h3>
          </div>
          <div class="atendee-div">
            <div class="atendee-card">
              <span class="atendee-span">Participantes:</span>
              <div class="atendee-ng" *ngIf="!userIsAtendee(p)">
                <mat-icon matTooltip="Clique aqui para participar!" class="btn-clear"
                  (click)="participateEvent(p, true)">add_circle_outline</mat-icon>
              </div>
              <div *ngIf="userIsAtendee(p)">
                <mat-icon class="btn-clear" matTooltip="Clique aqui para sair do evento"
                  (click)="participateEvent(p, false)">remove_circle_outline</mat-icon>
              </div>
            </div>
            <hr>
            <div class="atendees-div">
              <div *ngFor="let participante of p?.evento.participantes">
                <img mat-card-avatar matTooltip="{{participante.username}}" (click)="openProfile(participante)"
                  alt="{{participante.username}}" [src]="participante.profilePicture">
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card-header>
    <hr>
    <mat-card-content class="postsBody">
      <div *ngIf="p?.imagensAnexadas!" class="imgDiv">
        <img [src]="p?.imagemCarregada" class="imgFeed">
      </div>
      <p class="postText">{{ p?.descricao }}</p>
      <div *ngIf="p.evento">
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Informações Adicionais
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="postText">dia de inicio: {{p?.evento.dataInicioEvento}}</p>
            <p class="postText">dia de fechamento: {{p?.evento.dataInicioEvento}}</p>
            <p class="postText">duração: {{p?.evento.dataInicioEvento}}</p>
              <a *ngIf="p?.evento.linkTransmissaoEvento !== null" class="postText">link do vídeo: {{p?.evento.linkTransmissaoEvento}}</a>
              <a *ngIf="p?.evento.linkInscricaoEvento !== null" class="postText">link do formulário do evento: {{p?.evento.linkInscricaoEvento}}</a>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <br>
      <div *ngFor="let comment of p?.comentarios">
        <div>
          <img mat-card-avatar matTooltip="{{comment.donoComentario.username}}"
            (click)="openProfile(comment.donoComentario)" [src]="comment.donoComentario.profilePicture">
          <span>{{comment.donoComentario.username}} - {{comment.dataComentario}}</span>
        </div>
        <p>{{comment.comentario}}</p>

        <hr>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <form [formGroup]="messageFormGroup" (ngSubmit)="postComment(p)">
        <input class="on-your-mind" formControlName="comment" placeholder="Comente aqui" type="text">
        <button class="on-your-mind-btn" [disabled]="messageFormGroup.invalid" type="submit">Comentar</button>
      </form>
    </mat-card-actions>
  </mat-card>
</div>
