<div class="container">
  <h1 class="header-page-h1">Gestão de Pessoas</h1>
  <mat-card class="container">
    <mat-card-header>
      <p class="rh-p-header">funcionalidades</p>
    </mat-card-header>
    <div class="inner-div">
      <button mat-button class="rh-button" (click)="openPromotionModal()">Promover funcionario</button>
      <button mat-button class="rh-button" (click)="openRemoveModalPGE()">Remover postagem</button>
      <button mat-button class="rh-button" (click)="openEventModalPGE()">Criar evento PGE</button>
      <button mat-button class="rh-button" (click)="openPostModalPGE()">Criar postagem PGE</button>
    </div>
  </mat-card>
  <mat-card class="container">
    <mat-card-header>
      <p class="rh-p-header">Controle de eventos</p>
    </mat-card-header>
    <ol>
      lista de eventos toDo
    </ol>
  </mat-card>
</div>