<form [formGroup]="formGroup">
  <mat-form-field>
    <mat-label>Empresa</mat-label>
    <input type="text" matInput formControlName="empresa">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Setor</mat-label>
    <input type="text" matInput formControlName="setor">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Cargo</mat-label>
    <input type="text" matInput formControlName="cargo">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Descricao</mat-label>
    <input type="text" matInput formControlName="descricao">
  </mat-form-field>
  <mat-form-field (click)="dataInicial.open()">
    <mat-label>Data de Início</mat-label>
    <input matInput [matDatepicker]="dataInicial" formControlName="dataInicio" />
    <mat-datepicker-toggle matSuffix [for]="dataInicial"></mat-datepicker-toggle>
    <mat-datepicker touchUi #dataInicial></mat-datepicker>
  </mat-form-field>
  <mat-form-field (click)="dataFinal.open()">
    <mat-label>Data de Saída</mat-label>
    <input matInput [matDatepicker]="dataFinal" formControlName="dataFim" />
    <mat-datepicker-toggle matSuffix [for]="dataFinal"></mat-datepicker-toggle>
    <mat-datepicker touchUi #dataFinal></mat-datepicker>
  </mat-form-field>

  <button mat-button [disabled]="formGroup.invalid" (click)="salvarInformacoes()">Salvar</button>
</form>