$dark_blue: #193498;
$medium_blue: #113CFC;
$light_blue: #1597E5;
$sky_blue: #69DADB;
$marine_blue: #22577E;
$light_marine: #5584AC;
$light_yellow: #EBE645;
$dark_yellow: #FFE652;
$light_purple: #916BBF;
$dark_purple: #3D2C8D;
$sky_purple: #C996CC;
$gray: #D4ECDD;
$shadow: 0 1px 3px 0 rgba(55, 63, 81, 0.15);