.search-bar {
  margin-top: 20px;
  width: 100%;
}

.radio-group {
  margin-left: 10px;
}

mat-form-field {
  width: 100%;
}

.setor-container {
  height: 800px;
}

mat-card {
  cursor: pointer;
}

mat-card:last-of-type {
  margin-top: 20px;
}