@import "src/styles/variables.scss";

.sidebar {
  ::ng-deep {
    .mat-drawer-content {
      margin-bottom: 60px;
    }
  }
}

mat-drawer {
  background-color: $light_blue;
  box-shadow: $shadow;

  .list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .item {
      width: 120px;
      height: 40px;
      display: flex;
      align-items: center;
      color: #fff;
      cursor: pointer;
      margin-bottom: 20px;
      padding-right: 10px;
      padding-left: 10px;
      &:hover {
        transition: background-color 0.5s ease-in-out;
        background-color: $medium_blue;
      }
      &:last-of-type {
        margin-bottom: 0px;
      }
    }
  }
}
