@import "src/styles/variables.scss";

.sidebar {
  ::ng-deep {
    .mat-drawer-content {
      margin-bottom: 70px;
    }
  }
  height: 84vh;
}

mat-drawer {
  background-color: #40539c;
  box-shadow: $shadow;

  .list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .item {
      width: 130px;
      height: 54.16px;
      display: flex;
      align-items: center;
      color: #fff;
      cursor: pointer;
      margin-bottom: 20px;
      padding-right: 16px;
      padding-left: 16px;
      &:hover {
        transition: background-color 0.5s ease-in-out;
        background-color: #2e449e;
      }
      &:last-of-type {
        margin-bottom: 0px;
      }
    }
  }
}
