<mat-drawer-container class="sidebar" autosize>
  <mat-drawer mode="side" [opened]="openMenu" [disableClose]="false">
    <div class="list">
      <div class="item" (click)="goTo('feed')">
        <mat-icon>home</mat-icon> Noticias
      </div>
      <div class="item" (click)="goTo('sector')">
        <mat-icon>list</mat-icon> Meu setor
      </div>
      <div class="item" (click)="goTo('usuario' + '/' + 'self')">
        <mat-icon>person</mat-icon> Meu Perfil
      </div>
      <div class="item" (click)="goTo('chat')">
        <mat-icon>chat</mat-icon> Mensagens
      </div>
      <div class="item" (click)="logout()">
        <mat-icon>logout</mat-icon> Logout
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>